body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #595d69;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #191a1f;
}

/* top nav bar styles */
.top-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
}

.top-nav-left ul {
    padding: 0;
}

.top-nav-left ul li {
    list-style: none;
    display: inline-block;
}

.top-nav-left ul li a {
    color: #595d69;
    text-decoration: none;
    padding-right: 15px;
    font-size: 13px;
}

.top-nav-right ul {
    padding-left: 0;
    margin-left: 15px;
}

.top-nav-right ul li {
    list-style: none;
    display: inline-block;
}

.top-nav-right ul li a {
    text-decoration: none;
    padding-right: 15px;

}

.top-nav-right ul li a i {
    color: #595d69;
    font-size: 20px;
}

/* main nav */
.right i {
    font-size: 22px;
    padding-left: 20px;
}

.card-rel {
    position: relative;
}

.overlay-body {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 30px;
    z-index: 9;
}

.card-rel::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.363);
}

.card-text-area h5 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}


.link-items {
    padding-left: 0;
}

.link-items a {
    margin-right: 25px;
    color: #fff;
    text-decoration: none;
}

.side-area h5 {
    font-size: 23px;
}

/* main-area styles */
.load-button .btn-outline-primary {
    background: #2163e81a;
    padding: 10px 25px;
}

.load-button .btn-outline-primary:hover {
    background: #2163e8;
}

/* slider-area styles */
.tns-controls,
button {
    display: none;
}

.slider-linkitems a {
    color: #595d69;
    text-decoration: none;
}

.slider-badge a {
    color: #fff;
    text-decoration: none;
}

.card-img-overlay {
    position: absolute;
    bottom: 15px;
    top: 45%;
    left: 0;
    padding: 1rem;

}

/* <!-- Social widget styles --> */
.side-social {
    padding: 15px 0 10px 0;
}

.social-area .side-social i {
    font-size: 22px;
    margin-bottom: 10px;
}

.social-area .side-social h6 {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.social-area .side-social p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.bg-gradient-ins {
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* trendind-topic styles */

.tren-img {
    position: relative;
    height: 50px;
    width: 100%;
}
.tren-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009d;
}

.trendind-topic .topic {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
}

.trendind-topic .topic h5 {
    color: #fff;
    position: relative;
    display: inline;
    z-index: 1;
}
.trendind-topic .topic h5::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 0px;
    background: #fff;
    transition: .3s;
}
.trendind-topic .topic:hover h5::before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}