body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #595d69;
}



/* top nav bar styles */
.top-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
}

.top-nav-left ul{
   padding: 0;
}
.top-nav-left ul li {
    list-style: none;
    display: inline-block;
}
.top-nav-left ul li a{
    color: #595d69;
    text-decoration: none;
    padding-right: 15px;
    font-size: 13px;
}

.top-nav-right ul{
   padding-left: 0;
   margin-left: 15px;
}
.top-nav-right ul li {
    list-style: none;
    display: inline-block;
}
.top-nav-right ul li a{
    text-decoration: none;
    padding-right: 15px;

}
.top-nav-right ul li a i {
    color: #595d69;
    font-size: 20px;
}
/* main nav */
.right i{
   font-size: 22px;
   padding-left: 20px ;
}
.card-rel{
    position: relative;
}
.overlay-body{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

}